div.vertical{
    margin-top: 100px;
    margin-left: -70px;
    position: absolute;
    width: 181px;
    height: 23px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); /* Safari/Chrome */
    -moz-transform: rotate(-90deg); /* Firefox */
    -o-transform: rotate(-90deg); /* Opera */
    -ms-transform: rotate(-90deg); /* IE 9 */
}
.form_estatistica{
    background-color: #F5F6F7; 
    border: #C9C9C6 solid 1px; 
    height: 166px;
    /*width: 300px;*/
    padding: 20px 14px 0 20px;
    /*float: left;*/
}
.texto_estatistica{
    /*float: left;*/
    /*margin-left: 20px;*/
    text-align: justify;
    /*width: 600px;*/
}

.form_estatistica input{
background: #d4d4d4 url("/++resource++css/fundo-botao-laranja.png") repeat-x scroll 0 0;
border: 0 solid #e1962d;
color: #fff;
cursor: pointer;
font-weight: bold;
overflow: visible;
padding: 5px;
width: auto;

}
.box_graficos{
background: white none repeat scroll 0 0;
border: 1px solid #e1962d;
margin-bottom: 20px;
padding: 10px;
}
.box_graficos h3{
color: #326b86;
font-size: 11pt;
padding: 0 10px 10px;
}
.header {
border-bottom: 1px solid #e1962d;
color: #4f88b0;

font-weight: bold;
height: 25px;
}
.descricao_relatorio{
    color: #6f6f6f;
    
    margin: 0 auto;
    padding: 32px 0;
    text-align: justify;
}
.format_table{
margin: 0 auto !important;
width: 740px;
}

.tipo_crime{
    color: #326b86;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}
#tipo{
    height: 30px !important;
    line-height: 25px !important;
    padding: 4px;
    width: 280px;
    font-size: 10pt;
    margin-top: 12px;
}